@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: grey;
}

.header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.header .right-links {
  display: flex;
  align-items: center;
  margin: 0px;
}

.header .left-links {
  display: flex;
  align-items: center;
  margin: 0px;
}

.header li {
  padding: 10px;
}


.content {
  display: flex;
  padding: 15px;
  padding-top: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  margin-top: auto;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  background-color: #eeeeee;
}

.footer .right-links {
  display: flex;
  align-items: center;
  margin: 0px;
}

.footer .left-links {
  display: flex;
  align-items: center;
  margin: 0px;
}

.footer li {
  padding: 10px;
}